body{
    height: 1000px;
    width: 750px;
}
.pattern{
    height: 100px;
    position: relative; 
    background-color: rgb(69, 138, 184);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 49%; 
}
.logo{
    width: 15%;
    position: absolute; 
    bottom: 10%;
    left: 0%;
}


.grigio{
    color: darkgray;
}
span{
    color: rgb(69, 138, 184);
}