body{
    height: 1000px;
    /* width: 750px; */
}
table{
    border-collapse: collapse;
}
.pattern{
    height: 100px;
    position: relative; 
    background-color: rgb(69, 138, 184);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 20%; 
}
.logo{
    width: 15%;
    position: absolute; 
    bottom: 10%;
    left: 0%;
}


.grigio{
    color: darkgray;
}

.piccolo{
    color: grey;
    font-size:x-small ;
}
.p-comments{
    font-size: smaller;
}
.evidenziato{
    background-color: yellow;
}
.spazio{
    width: 150px;
}
.t-head{
    text-align: left;
    color: white;
    background-color: steelblue;
}
.t-blu{
    background-color: rgb(152, 222, 235);
}
.back-foote{
    width: 200px;
    height: 180;
    color: white;

}
#graph{
    background-image: url(../img/graph.jpg);
    background-size: cover;
}
#monitor{
    background-image: url(../img/monitor.jpg);
    background-size: cover;
}